/*================================
================================
GRID SYSTEM
AUTHOR: Lucas Varela
URL: http://www.lucasvarela.com.ar/
COPYRIGHT: 2013
================================
================================*/



*{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  width: 100%;
  margin: 0 0 100px !important;
  font-size: 14px;
  font-family: arial, Helvetica;
}
.bg{
  width: 100%;
  background-color: #FFF;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFF;
  overflow: hidden;
}
.navMenu {
  padding: 10px 8px 10px 8px;
  margin-top: 2%;
  margin-right: 4.3%;
  float: right;
  display: block;
  color: #FFF;
  background-color: #99cc00;
  height: 30px;
  border: none;
  outline: none;
}

.col-9{
  border-radius: 8px;
  background-color: whitesmoke;
  position: relative;
}
/*** BOTONES ***/
.btn{
  background-color: #99cc00;
  padding: 8px 25px 8px 25px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}
.btn:hover{
  background-color: #8CBB00;
}
a.btn-add {
  position: absolute;
  background-color: #333;
  padding: 8px 25px 8px 25px;
  top: 24px;
  right: 24px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 999;
  border-radius: 4px;
}
a.btn-add:hover{
  background-color: #99cc00;
}

img{max-width: 100%;}

/* global layout */
header{
  width: 100%;
  height: 80px;
  margin: 0 0 60px;
  background-color: #333;
  float: left;
}
#logo{
  width: 223px;
  height: 165px;
  margin: 0 0 0 25px;
  color: #FFF;
  display: block;
  overflow: hidden;
  float: left;
  z-index: 9999;
}
#logo img{
  width: 120px;
  height: 120px;
  margin: 15px 0 0 40px;
  display: block;
}
.inner{
  width: 1115px;
  margin: 0 auto;
  display: block;
}
/*** Menu Header ***/
.menu {
  width: 70%;
  height: 80px;
  margin: 0 0 30px 0;
  display: block;
  float: left;
}
.menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}
.menu ul li {
  font-size: 14px;
  height: 40px;
  margin: 0 0px 0 0;
  padding: 0 10px 0 10px;
  display: inline-block;
  text-transform: uppercase;
  float: left;
}
.menu ul li a {
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
  margin: 30px 0 0 0;
  display: block;
}
.menu ul li:hover{
  height: 80px !important;
  background: #4A4A4A;
}
li.active {
  height: 80px !important;
  margin: 0;
  display: block;
  background: #99cc00;
  float: left;
}
li.active:hover {
  background: #99cc00 !important;
}
.logout {
  margin: 0;
  float: right;
  border-left: 1px solid #888;
  position: relative;
  height: 100%;
  padding: 30px;
  color: white;

}
.logout:hover {
  background-color: #555;
  color: white;
}
.logout ul{
  display: none;
  position: absolute;
  top: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  text-align: center;
}
.logout ul:hover{
  display: block;
}
.logout ul li a{
  display: block;
  text-decoration: none;
  color: white;
  background: #5F5F5F;
  padding: 10px;
  margin: 1px;
}
.logout ul li a:hover{
  background: #ADADAD;
}
/*** Nav left ***/
.nav-left {
  margin: 0;
  display: block;
}
.nav-left ul {
  margin: 0;
  display: block;
}
.nav-left ul li {
   text-align: center;
  margin: 0 0 3px 0;
  padding: 8px 25px 8px 25px;
  background-color: #333;
  display: block;
}
.nav-left ul li a{
  color: #FFF;
  text-decoration: none;
}
.nav-left ul li:hover{
  background: #4A4A4A;
}
li.active2 {
  margin: 0;
  display: block;
  background: #99cc00 !important;
}

.row{
  padding: 20px;
  width: 100%;
  min-height: 1px;
  position: relative;
  float: left;
}

.grid{
  min-height: 40px;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  float: left;
}

.grid:first-child{margin-left: 0px;}
.grid:last-child{margin-right: 0px;}

.left{float: left;}
.right{float: right;}

.col-1{width: 3.93%;}
.col-2{width: 12.66%;}
.col-3{width: 21.4%;}
.col-4{width: 30.13%;}
.col-5{width: 38.867%;}
.col-6{width: 47.6%;}
.col-7{width: 56.333%;}
.col-8{width: 65.07%;}
.col-9{width: 73.8%;}
.col-10{width: 82.533%;}
.col-11{width: 91.27.93%;}
.col-12{width: 100%;}

/* MULTI-COLUMN
=================================*/

.multi-col-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;

  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  -ms-column-width: 250px;
  -o-column-width: 250px;
  column-width: 250px;
}

.multi-col-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;

  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  -ms-column-width: 200px;
  -o-column-width: 200px;
  column-width: 200px;
}

.multi-col-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;

  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  -ms-column-width: 150px;
  -o-column-width: 150px;
  column-width: 150px;
}
/* LOGIN */

.header-login{
  width: 100%;
  height: 170px;
  margin: 0 0 100px 0;
  padding: 0;
  background-color: #CCC;
}

.logo-login {
  width: 165px;
  height: 165px;
  margin: 0 auto;
  background-image: url(../img/logo_muysimple.png);
  display: block;
  position: relative;
  top: 80px;
}

.container-login {
  min-width: 320px;
  max-width: 500px;
  min-height: 100%;
  margin: 30px auto;
  background-color: #FFF;
  border-radius: 4px;
  overflow: hidden;
}

.container-login h1{
  text-align: center;
  font-family: 'Gloria Hallelujah';
  font-size: 25px;
  margin: 0;
}

.campo-login{
  width: 100%;
  height: 30px;
  border: 1px solid #CCC;
  margin: 0 0 10px 0;
  padding-left: 10px;
  border-radius: 4px;
  outline: none;
}
textarea.campo-login-textarea{
  width: 100%;
  height: 200px;
  border: 1px solid #CCC;
  margin: 0 0 10px 0;
  padding-left: 10px;
  border-radius: 4px;
  outline: none;
  resize:none;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #333;
}

.add-empresa{
  padding: 5px;
}
.add-empresa .row-empresa label{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.add-empresa .row-empresa button{
  padding: 1em;
  font-weight: bold;
  background: #99CC00;
  color: white;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  cursor: pointer;
}
.add-empresa .row-empresa span{
  font-weight: bold;
  color: #4B6400;
}
.add-empresa input[type=submit]{
  padding: 1em;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  background: #333333;
}
.logo-back-empresa{
  max-height: 150px;
  display: block;
  margin: 0 auto;
}
.back-empresa h3{
  text-align: center;
}
.controls-logo{
  margin: 0 auto;
  width: 150px;
}
.controls-logo a{
  width: 70px;
  display: inline-block;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 1em;
  background: #99CC00;
  border-radius: 5px;
  margin-top: 5px;
}

.back-integrante label, input[type=submit]{
  display: block;
}
.back-integrante label{
  font-weight: bold;
}
.back-integrante input[type="file"]{
  /*display: none;*/
}
.button-cargar-imagen{
    background: #99CC00;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.button-submit{
  background: #333333;
  color: white;
  font-weight: bold;
  padding: 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}
.field{
  color: #4B6400;
}
.integrante{
  width: 245px;
  display: inline-block;
  min-height: 200px;
  background-size: cover!important;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 1em;
  margin-left: 10px;
  cursor: pointer;
}
.integrante .to-bottom1{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.integrante .to-bottom1 a{
  color: white!important;
  text-decoration: none;
}
.integrante .to-bottom2{
  /*position: absolute;
  bottom: 20px;*/
  text-align: center;
  width: 100%;
  margin-top:95px;
}
.integrante .to-bottom2 a{
  color: white!important;
  text-decoration: none;
}
#add-banner{
  float: left;
  width: 100%;
  border-top: 1px solid #B5B5B5;
  border-bottom: 1px solid #B5B5B5;
  display: none;

}

#add-banner form{
  padding: 1em;
}
#add-banner form label{
    font-size: 2em;
    display: block;
}
#add-banner form input[type=submit]{
  margin-top: 2em;
  font-size: 1.4em;
  padding: 0.5em;
  border: white;
  color: white;
  background: #494949;
  cursor: pointer;
}
#add-banner form input[name=title], .emprendimiento-admin .edit input[name="edit-name"]{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
  border: white;
  color: #7A7A7A;
  width: 50%;
}
#add-banner form textarea , .emprendimiento-admin .edit textarea[name="edit-content"]{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
  border: white;
  color: #7A7A7A;
  width: 50%;
}
.emprendimiento-admin{
  display: block;
  width: 90%;
  text-align: center;
  margin: 30px auto;
}
.emprendimiento-admin .edit {
  display: none;
}

.integrantes-list{
  margin: 0;
  padding: 0;
  width: 50%;
  margin: 0 auto;
}

.integrantes-list li{
  list-style-type: none;
  background: #FEFEFE;
  display: block;
  font-weight: bold;
  padding: 0.3em;
  margin-bottom: 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;

}

.integrantes-list li:hover{
  background: #99CC00;
  color: white;
  -webkit-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}
.integrantes-save{
  display: block;
  margin: 0 auto;
  padding: 10px;
  background: #99cc00;
  color: white;
  border: 0;
  margin-top: 20px;
  cursor: pointer;
}

/*  MEDIA QUERIES
==============================*/

@media (max-width: 768px) {
  .grid{
  width: 100% !important;
  margin: 5px 0px 5px 0px;
  }
}